body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.
container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 70px;
    line-height: 1;
}

.jumbotron .input-prepend {
    margin: 30px;
}

.jumbotron.btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 20px 0;
}

.marketing
p + h4 {
    margin-top: 28px;
}

.jumbotron .youtube-area {
    color: #777777;
    font-size: 30px;

}

.player-container {
    margin-bottom: 20px;
}

.tube-controller {
    font-size: 16px;
    margin-top: 6px;
}