<!DOCTYPE HTML>
<html lang="ja" ng-app>

    <head>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
        <script src="./js/lib/bootstrap.js"></script>
        <script src="./js/lib/jQuery.tubeplayer.js"></script>
        <script src="./js/main.js"></script>
        <link rel="stylesheet" href="./css/bootstrap.css">
        <link rel="stylesheet" href="./css/bootstrap-responsive.css">
        <link rel="stylesheet" href="./css/main.css">
        <title>EndlessTube</title>
    </head>

    <body>
        <div class="container" ng-controller="EndlessTubeCtrl">
            <header>
                <ul class="nav nav-pills pull-right">
                    <li><a href="#"><i class="icon-list"></i> About</a></li>
                    <li><a href="#"><i class="icon-qrcode"></i> Contact</a></li>
                </ul>
                <h2 class="muted">EndlessTube&nbsp;&nbsp;&nbsp;
                    <small>Enjoy! Endless Repeat YouTube :)</small>
                </h2>
            </header>
            <hr>

            <div>
                <form class="form-inline" ng-submit="showYoutube()">
                    <input class="span6" id="input-name" type="text" ng-model="youtubeUrl"
                    placeholder="Input Youtube URL until 4 !">
                    <input ng-click="prepareYoutubeArea()" class="btn btn-success {{checkDisabledShowBtn()}}" type="submit" value="Show!">
                </form>
            </div>

            <div class="alert alert-error {{displayError()}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{errorMsg}}
            </div>

            <div class="row">
                <div class="span6" ng-repeat="youtube in youtubes">
                    <div id='youtube-container-{{youtube.id}}'></div>
                    <div id='endless-control-area' class="well">
                        <button ng-click="removeYoutube(youtube.id)" class="close">&times;</button>
                        <form class="form-inline">
                            <input ng-model="youtube.startMinute" type="number" min="0" max="59">
                            :
                            <input ng-model="youtube.startSecond" type="number" min="0" max="59">
                            ~
                            <input ng-model="youtube.endlessSec" type="number" min="0.1" step="0.1">
                            s
                            <button type="submit" class="btn btn-primary" ng-click="endlessPlay(youtube.id)">
                                <i class="icon-repeat icon-white"></i> Endless!
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <hr>
            <footer>
                <p>&copy; 2013 <a href="http://konifar.com">KonifarPod</a>. &middot;  &middot; depends on <a href="http://partymegane.com">PartyMegane</a></p>
            </footer>
        </div>

    </body>

</html>