<!DOCTYPE HTML>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" ng-app>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <meta charset="utf-8">
        <meta content="Enjoy playing Endless Youtube !" name="description">
        <meta content="Endless,Youtube,joke,app,web,ウェブ,アプリ,ネタ" name="keywords">
        <meta content="http://konifar.github.io/endresstube/" property="og:url">
        <meta content="website" property="og:type">
        <meta content="EndlessTube" property="og:title">
        <meta content="EndlessTube" property="og:site_name">
        <meta content="EndlessTube can play Youtube from time you like for time you like !" property="og:description">
        <meta content="http://konifar.github.io/endresstube/img/page-icon.jpg" property="og:image">
        <meta property="fb:app_id" content="118785338301077">
        <script src="./js/lib/jquery-1.9.1.min.js"></script>
        <script src="./js/lib/jQuery.tubeplayer.js"></script>
        <script src="./js/lib/angular.min.js"></script>
        <script src="./js/lib/bootstrap.js"></script>
        <script src="./js/main.js"></script>
        <link href="./img/page-icon.jpg" type="image/x-icon" rel="Shortcut Icon">
        <link href="./img/page-icon.jpg" rel="apple-touch-icon-precomposed">
        <link rel="stylesheet" href="./css/bootstrap.css">
        <link rel="stylesheet" href="./css/bootstrap-responsive.css">
        <link rel="stylesheet" href="./css/main.css">
        <title>EndlessTube</title>
    </head>

    <body>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=118785338301077";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
        <script type="text/javascript">
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

        <div class="container" ng-controller="EndlessTubeCtrl" ng-init="init()">
            <header>
                <ul class="snsb pull-right">
                    <li>
                        <!-- Facebook -->
                        <div class="fb-like" data-href="http://konifar.github.io/endresstube/endlesstube/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                    </li>
                    <li>
                        <!-- Twitter -->
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{urls}}" data-text="Enjoy playing endless Youtube !" data-hashtags="endlesstube">Tweet</a>
                    </li>
                    <li>
                        <!-- GooglePlus -->
                        <div class="g-plusone" data-size="medium"></div>
                    </li>
                    <li>
                        <!-- Hatena -->
                        <a href="http://b.hatena.ne.jp/entry/http://konifar.github.io/endresstube/" class="hatena-bookmark-button" data-hatena-bookmark-title="EndlessTube" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
                    </li>
                </ul>

                <h2 class="muted">EndlessTube &nbsp;&nbsp;&nbsp;
                    <small>Enjoy ! Endless Repeat YouTube :)</small>
                </h2>
            </header>

            <hr>

            <div>
                <form class="form-inline" ng-submit="showYoutube()">
                    <input class="span6" id="input-name" type="text" placeholder="Input Youtube URL you like !"
                    ng-change="checkDisabledShowBtn()" ng-model="youtubeUrl">
                    <input class="btn btn-success {{canShowBtn}}" type="submit" value="Add !"
                    ng-click="prepareYoutubeArea()">
                </form>
            </div>

            <div class="alert alert-error {{displayError()}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{errorMsg}}
            </div>

            <div class="row">
                <div class="span6" ng-repeat="youtube in youtubes">
                    <div id='youtube-container-{{youtube.id}}' class="youtube-area"></div>
                    <div id='endless-control-area' class="well">
                        <!-- <button ng-click="removeYoutube(youtube)" class="close">&times;</button> -->
                        <button ng-click="removeYoutube(youtube)" class="pull-right btn btn-danger">Delete</button>
                        <form class="form-inline">
                            <input ng-model="youtube.startMinute" ng-change="checkCanEndless(youtube)"
                            type="number" min="0" max="59">
                            :
                            <input ng-model="youtube.startSecond" ng-change="checkCanEndless(youtube)"
                            type="number" min="0" max="59">
                            ~
                            <input ng-model="youtube.endlessSec" ng-change="checkCanEndless(youtube)"
                            type="number" min="0.0" step="0.1">
                            sec &nbsp;

                            <!-- <button class="btn" ng-click="clearEndless(youtube)">Clear</button> -->

                        </form>
                    </div>
                </div>
            </div>

            <hr>

            <div class="about">
                <div class="span4">
                    <div class="navigator">
                        <h3>What's is this ?</h3>
                        <p>&nbsp;&nbsp;<b>1.</b> You can play a Youtube endlessly !</p>
                        <p>&nbsp;&nbsp;<b>2.</b> You can add at most <b>4</b> Youtube !</p>
                        <p>&nbsp;&nbsp;<b>3.</b> You can share YOUR combi by sharing URL !</p>
                    </div>
                </div>
                <div class="span4">
                    <div class="navigator">
                        <h3>How to play ?</h3>
                        <p>&nbsp;&nbsp;<b>1.</b> Input a Youtube URL you like !</p>
                        <p>&nbsp;&nbsp;<b>2.</b> Push <button class="btn btn-mini btn-success">Add !</button> , then display Youtube !</p>
                        <p>&nbsp;&nbsp;<b>3.</b> Input start time, repeat time, and enjoy to repeat !</p>
                    </div>
                </div>
                <div class="span4">
                    <div class="navigator">
                        <h3>How to contact ?</h3>
                        <p>&nbsp;&nbsp;<img src="./img/icon-facebook.png" alt=""> <a href="http://www.facebook.com/konif">Yusuke Konishi</a></p>
                        <p>&nbsp;&nbsp;<img src="./img/icon-twitter.png" alt=""> <a href="http://twitter.com/konifar">@konifar</a></p>
                        <p>&nbsp;&nbsp;<img src="./img/icon-feed.png" alt=""> <a href="http://konifar.hatenablog.com">Konifar's WIP</a></p>
                    </div>
                </div>
            </div>

            <hr>

        </div>

        <footer>
            <p>&copy; 2015 <a href="http://konifar.hatenablog.com">Konifar's WIP</p>
        </footer>

    </body>

</html>